<div class="comment-fix">
    <div class="row">
        <div class="col-md-2 text-right">
            <section class="chef-info center">
                <%= gravatar_for(comment.chef, size:30) %>
            </section>
        </div>
        <div class="col-md-8">
            <p><%= comment.description %></p>
            <p>
                <span>
                    <small>
                        <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.chef.chefname, chef_path(comment.chef) %>
                    </small>
                </span>
            </p>
            <hr>
        </div>
    </div>
</div>