<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="text-center">
            <h2 class="mb-3">Chef <%= @chef.chefname %>'s Profile </h2>
            <%= gravatar_for @chef, size: 150 %>
            <p class="text-uppercase mt-3"><%= @chef.chefname %></p>
        </div>
        <hr>
        <%= render 'recipes/recipe', obj: @chef.recipes %>

    </div>
</div>