<div class="container-fluid rounded-lg p-5 mb-5 new-recipe-bg">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="error-message text-danger">
                <% if @recipe.errors.any? %>
                <p class="pt-3 px-3"><%= pluralize(@recipe.errors.count, "error") %></p>
                <ul class="list-unstyled px-3 pb-3">
                    <% @recipe.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-4">Edit Recipe</h2>
            <%= render 'recipe_form' %>
        </div>
    </div>
</div>