<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Chef Chat</h2>
    </div>
</div>
<div class="row chat-container">
    <div class="col-md-6 offset-md-3">
        <div class="messages-container">
            <%= form_for(@message)  do |f| %>
            <%= f.text_area :content, class: "form-control mb-3", placeholder: "Writte a message"%>
            <%= f.submit "Send", class: "btn btn-danger"%>
            <% end %>
        </div>
        <hr>
        <div class="messages border p-2 overflow-auto mb-5" id="messages">
            <%= render @messages %>
        </div>
    </div>
</div>