<hr>
<ul class="list-unstyled">
    <li>
        <div class="thumb-down d-flex">
            <div class="ml-auto d-flex">
                <%= button_to recipe_likes_path(@recipe), params: { like: {liked: true} }, class:"like-btn p-0 m-0", disabled: !logged_in? do %>
                <span class="mr-2">
                    <% if liked_by_me?(@recipe) %>
                    <i class="fa fa-thumbs-up text-primary"></i>
                    <% else %>
                    <i class="fa fa-thumbs-o-up"></i>
                    <% end %>
                    <%= @recipe.likes.where(liked: true).count %>
                </span>
                <% end %>
                <div class="">
                    <%= button_to recipe_likes_path(@recipe), params: { like: {liked: false} }, class:"p-0 like-btn", disabled: !logged_in? do %>
                    <span>
                        <% if disliked_by_me?(@recipe) %>
                        <i class="fa fa-thumbs-down text-primary"></i>
                        <% else %>
                        <i class="fa fa-thumbs-o-down"></i>
                        <% end %>
                        <%= @recipe.likes.where(liked: false).count %>
                    </span>
                    <% end %>
                </div>
            </div>
        </div>
        </div>
    </li>
</ul>