/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over style  s defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";

body {
  color: #333;
}

#logo {
  font-weight: bold;
  text-transform: uppercase;
}

#logo:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link a:hover {
  color: #e2e4e2;
  text-decoration: none;
}

.navbar-orange {
  background-color: rgb(245, 136, 12);
}

.btn-custom-primary {
  color: white;
}

.jumbotron {
  position: relative;
  background-image: asset-url("background.jpg");
  background-size: cover;
  height: 50vh;
  background-position: center;
}

.jumbo-content {
  letter-spacing: 1px;
  word-spacing: 2px;
  background-color: rgba(243, 242, 241, 0.8);
}

footer {
  background-color: #adcbe3;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link a {
  color: #333;
}

.chef-name .name a {
  color: rgba(255, 0, 0, 0.8);
}

.line {
  padding-bottom: 5px;
  border-bottom: 3px solid #333;
}

.new-recipe-bg {
  background-color: #fffaf2;
  border: 3px solid #fffaf2;
}

.error-message {
  background-color: rgba(255, 0, 0, 0.2);
}

span .small,
span.small {
  letter-spacing: 0.6px;
}

.messages {
  height: 300px;
}

.action-count {
  color: #333;
}

.like-btn {
  border: none;
  background-color: transparent;
  // content: "hehe";
}

// .likes-box {
//   height: 1.6em;
//   align-content: center;
// }

// .thumb-up {
//   color: white;
//   background-color: rgb(40, 40, 247);
//   height: 2em;
//   width: 2em;
//   padding: 5px;
//   border-radius: 50%;
// }
