/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";

body {
  color: #333;
}

#logo {
  font-weight: bold;
  text-transform: uppercase;
}

#logo:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #e2e4e2;
}

.navbar-orange {
  background-color: rgb(245, 136, 12);
  // background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
}

.btn-custom-primary {
  color: white;
  // background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
  // background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  // background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

.jumbotron {
  position: relative;
  background-image: asset-url("background.jpg");
  background-size: cover;
  height: 50vh;
  background-position: center;
}

// .dark-overlay {
//     border: 1px solid green;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 50vh;
//     background: rgba(0, 0, 0, 0.3);
//  }

.jumbo-content {
  letter-spacing: 1px;
  word-spacing: 2px;
  background-color: rgba(243, 242, 241, 0.8);
}

footer {
  background-color: #adcbe3;
  // background-color: rgba(255,255,50,.8);
}

.name a {
  color: #333;
}

.chef-name .name a {
  color: rgba(255, 0, 0, 0.8);
}

.line {
  padding-bottom: 5px;
  border-bottom: 3px solid #333;
}

.new-recipe-bg {
  //   background-color: #fdffef;
  background-color: #fffaf2;
  border: 3px solid #fffaf2;
}

.error-message {
  background-color: rgba(255, 0, 0, 0.2);
}
